body {
    background-color: rgb(177, 70, 177);
    font-family: 'Courier New', monospace;
    color: #000;
}

form {
    background-color: lightslategray;
    padding: 20px;
    border-radius: 15px;
}
